-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: kisallat_webshop
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `kisallat_webshop`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `kisallat_webshop` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_hungarian_ci */;

USE `kisallat_webshop`;

--
-- Table structure for table `alkategoriak`
--

DROP TABLE IF EXISTS `alkategoriak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alkategoriak` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `kategoria_id` tinyint(3) unsigned NOT NULL,
  `slug` varchar(50) NOT NULL,
  `nev` varchar(100) NOT NULL,
  `kep` varchar(255) DEFAULT NULL,
  `sorrend` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `egyedi_slug` (`kategoria_id`,`slug`),
  CONSTRAINT `alkategoriak_ibfk_1` FOREIGN KEY (`kategoria_id`) REFERENCES `kategoriak` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alkategoriak`
--

LOCK TABLES `alkategoriak` WRITE;
/*!40000 ALTER TABLE `alkategoriak` DISABLE KEYS */;
/*!40000 ALTER TABLE `alkategoriak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fal_bejegyzesek`
--

DROP TABLE IF EXISTS `fal_bejegyzesek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fal_bejegyzesek` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `felhasznalo_id` int(11) NOT NULL,
  `szoveg` text NOT NULL,
  `letrehozva` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fal_bejegyzesek`
--

LOCK TABLES `fal_bejegyzesek` WRITE;
/*!40000 ALTER TABLE `fal_bejegyzesek` DISABLE KEYS */;
INSERT INTO `fal_bejegyzesek` VALUES (1,9,'Ez egy teszt bejegyzes a falon!','2026-01-01 19:38:44'),(2,9,'Remek ├╝zlet csak aj├ínlani tudom.','2026-01-01 19:43:21'),(4,11,'hello├Â','2026-01-03 13:28:04');
/*!40000 ALTER TABLE `fal_bejegyzesek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `felhasznalok`
--

DROP TABLE IF EXISTS `felhasznalok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `felhasznalok` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `felhasznalonev` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `jelszo_hash` varchar(255) NOT NULL,
  `keresztnev` varchar(100) DEFAULT NULL,
  `vezeteknev` varchar(100) DEFAULT NULL,
  `telefon` varchar(30) DEFAULT NULL,
  `iranyitoszam` varchar(20) DEFAULT NULL,
  `varos` varchar(100) DEFAULT NULL,
  `cim` text DEFAULT NULL,
  `admin` tinyint(1) DEFAULT 0,
  `tiltva` tinyint(1) NOT NULL DEFAULT 0,
  `tiltas_oka` varchar(255) DEFAULT NULL,
  `email_megerositve` tinyint(1) DEFAULT 0,
  `regisztralt` timestamp NOT NULL DEFAULT current_timestamp(),
  `frissitve` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `felhasznalonev` (`felhasznalonev`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `felhasznalok`
--

LOCK TABLES `felhasznalok` WRITE;
/*!40000 ALTER TABLE `felhasznalok` DISABLE KEYS */;
/*!40000 ALTER TABLE `felhasznalok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jelszo_reset`
--

DROP TABLE IF EXISTS `jelszo_reset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jelszo_reset` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `felhasznalo_id` int(11) NOT NULL,
  `kod` varchar(6) NOT NULL,
  `lejar` datetime NOT NULL,
  `felhasznalva` tinyint(4) DEFAULT 0,
  `letrehozva` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jelszo_reset`
--

LOCK TABLES `jelszo_reset` WRITE;
/*!40000 ALTER TABLE `jelszo_reset` DISABLE KEYS */;
INSERT INTO `jelszo_reset` VALUES (6,9,'719427','2026-01-02 18:04:47',0,'2026-01-02 16:49:47'),(13,11,'173503','2026-01-02 18:23:14',1,'2026-01-02 17:08:14'),(17,4,'652561','2026-03-12 22:58:25',1,'2026-03-12 21:43:25');
/*!40000 ALTER TABLE `jelszo_reset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategoriak`
--

DROP TABLE IF EXISTS `kategoriak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategoriak` (
  `id` tinyint(3) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(30) NOT NULL,
  `nev` varchar(50) NOT NULL,
  `kep` varchar(255) DEFAULT NULL,
  `sorrend` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategoriak`
--

LOCK TABLES `kategoriak` WRITE;
/*!40000 ALTER TABLE `kategoriak` DISABLE KEYS */;
INSERT INTO `kategoriak` VALUES (1,'kutya','Kutya','img/kutya.png',1),(2,'macska','Macska','img/macska.png',2),(3,'ragcsalo','R├ígcs├íl├│','img/ragcsalo.png',3),(4,'hullo','H├╝ll┼Ĺ','img/hullo.png',4),(5,'madar','Mad├ír','img/madar.png',5),(6,'hal','Hal','img/hal.png',6);
/*!40000 ALTER TABLE `kategoriak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kosar`
--

DROP TABLE IF EXISTS `kosar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kosar` (
  `felhasznalo_id` bigint(20) unsigned NOT NULL,
  `termek_id` int(10) unsigned NOT NULL,
  `mennyiseg` smallint(5) unsigned NOT NULL DEFAULT 1,
  `hozzaadva` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`felhasznalo_id`,`termek_id`),
  KEY `termek_id` (`termek_id`),
  CONSTRAINT `kosar_ibfk_1` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kosar_ibfk_2` FOREIGN KEY (`termek_id`) REFERENCES `termekek` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kosar`
--

LOCK TABLES `kosar` WRITE;
/*!40000 ALTER TABLE `kosar` DISABLE KEYS */;
/*!40000 ALTER TABLE `kosar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kupon_hasznalatok`
--

DROP TABLE IF EXISTS `kupon_hasznalatok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kupon_hasznalatok` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kupon_id` int(11) NOT NULL,
  `felhasznalo_id` int(11) NOT NULL,
  `rendeles_id` int(11) DEFAULT NULL,
  `hasznalva` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kupon_hasznalatok`
--

LOCK TABLES `kupon_hasznalatok` WRITE;
/*!40000 ALTER TABLE `kupon_hasznalatok` DISABLE KEYS */;
/*!40000 ALTER TABLE `kupon_hasznalatok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kuponok`
--

DROP TABLE IF EXISTS `kuponok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kuponok` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kod` varchar(50) NOT NULL,
  `tipus` enum('szazalek','fix') DEFAULT 'szazalek',
  `ertek` decimal(10,2) NOT NULL,
  `min_osszeg` decimal(10,2) DEFAULT 0.00,
  `felhasznalasi_limit` int(11) DEFAULT NULL,
  `felhasznalva` int(11) DEFAULT 0,
  `felhasznalo_id` int(11) DEFAULT NULL,
  `ervenyes_kezdet` datetime DEFAULT current_timestamp(),
  `ervenyes_veg` datetime DEFAULT NULL,
  `aktiv` tinyint(1) DEFAULT 1,
  `letrehozva` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kod` (`kod`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kuponok`
--

LOCK TABLES `kuponok` WRITE;
/*!40000 ALTER TABLE `kuponok` DISABLE KEYS */;
INSERT INTO `kuponok` VALUES (1,'HUSEG05','szazalek',0.51,0.00,1,0,NULL,'2026-01-02 13:49:03','2026-01-04 13:16:00',0,'2026-01-02 13:49:03'),(3,'nyar','szazalek',10.00,1200.00,2,0,NULL,'2026-03-12 22:17:42','2026-03-19 22:17:00',1,'2026-03-12 22:17:42');
/*!40000 ALTER TABLE `kuponok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rendeles_tetelek`
--

DROP TABLE IF EXISTS `rendeles_tetelek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rendeles_tetelek` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rendeles_id` bigint(20) unsigned NOT NULL,
  `termek_id` int(10) unsigned NOT NULL,
  `termek_nev` varchar(255) NOT NULL,
  `ar` int(10) unsigned NOT NULL,
  `mennyiseg` smallint(5) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `rendeles_id` (`rendeles_id`),
  KEY `termek_id` (`termek_id`),
  CONSTRAINT `rendeles_tetelek_ibfk_1` FOREIGN KEY (`rendeles_id`) REFERENCES `rendelesek` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rendeles_tetelek_ibfk_2` FOREIGN KEY (`termek_id`) REFERENCES `termekek` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rendeles_tetelek`
--

LOCK TABLES `rendeles_tetelek` WRITE;
/*!40000 ALTER TABLE `rendeles_tetelek` DISABLE KEYS */;
INSERT INTO `rendeles_tetelek` VALUES (2,2,4,'Rukka K├Ât├ęlp├│r├íz',8990,1),(3,3,11,'we4twe',22,2),(5,5,4,'Rukka K├Ât├ęlp├│r├íz',8990,4),(6,6,4,'Rukka K├Ât├ęlp├│r├íz',8990,1),(7,7,12,'222',2,3),(8,8,6,'Felix Fantastic',3490,1),(9,9,30,'H├ím',2500,1),(10,10,30,'H├ím',2500,1),(12,12,1,'Royal Canin Mini Adult',22490,2),(13,12,4,'Rukka K├Ât├ęlp├│r├íz',8990,1),(14,13,17,'UI teszt UPDATE most',8888,1),(15,14,4,'Rukka K├Ât├ęlp├│r├íz',8990,1);
/*!40000 ALTER TABLE `rendeles_tetelek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rendelesek`
--

DROP TABLE IF EXISTS `rendelesek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rendelesek` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `felhasznalo_id` bigint(20) unsigned NOT NULL,
  `rendeles_szam` varchar(30) NOT NULL,
  `statusz` enum('uj','feldolgozas','fizetve','kesz','storno') DEFAULT 'uj',
  `osszeg` int(10) unsigned NOT NULL,
  `szallitasi_mod` varchar(100) DEFAULT NULL,
  `fizetesi_mod` varchar(100) DEFAULT NULL,
  `megjegyzes` text DEFAULT NULL,
  `szallitasi_nev` varchar(200) DEFAULT NULL,
  `szallitasi_cim` text DEFAULT NULL,
  `szallitasi_varos` varchar(100) DEFAULT NULL,
  `szallitasi_irsz` varchar(20) DEFAULT NULL,
  `letrehozva` timestamp NOT NULL DEFAULT current_timestamp(),
  `frissitve` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `rendeles_szam` (`rendeles_szam`),
  KEY `felhasznalo_id` (`felhasznalo_id`),
  CONSTRAINT `rendelesek_ibfk_1` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rendelesek`
--

LOCK TABLES `rendelesek` WRITE;
/*!40000 ALTER TABLE `rendelesek` DISABLE KEYS */;
/*!40000 ALTER TABLE `rendelesek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `termek_velemenyek`
--

DROP TABLE IF EXISTS `termek_velemenyek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `termek_velemenyek` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `termek_id` int(10) unsigned NOT NULL,
  `felhasznalo_id` bigint(20) unsigned DEFAULT NULL,
  `vendeg_nev` varchar(100) DEFAULT 'N├ęvtelen v├ís├írl├│',
  `ertekeles` tinyint(3) unsigned NOT NULL CHECK (`ertekeles` in (1,2,3,4,5)),
  `cim` varchar(150) NOT NULL,
  `velemeny` text NOT NULL,
  `segitett_igen` int(10) unsigned DEFAULT 0,
  `segitett_nem` int(10) unsigned DEFAULT 0,
  `ellenorzott` tinyint(1) DEFAULT 0,
  `elfogadva` tinyint(1) DEFAULT 1,
  `datum` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `felhasznalo_id` (`felhasznalo_id`),
  KEY `idx_termek` (`termek_id`),
  KEY `idx_ertekeles` (`ertekeles`),
  CONSTRAINT `termek_velemenyek_ibfk_1` FOREIGN KEY (`termek_id`) REFERENCES `termekek` (`id`) ON DELETE CASCADE,
  CONSTRAINT `termek_velemenyek_ibfk_2` FOREIGN KEY (`felhasznalo_id`) REFERENCES `felhasznalok` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `termek_velemenyek`
--

LOCK TABLES `termek_velemenyek` WRITE;
/*!40000 ALTER TABLE `termek_velemenyek` DISABLE KEYS */;
/*!40000 ALTER TABLE `termek_velemenyek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `termekek`
--

DROP TABLE IF EXISTS `termekek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `termekek` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `alkategoria_id` smallint(5) unsigned NOT NULL,
  `nev` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `leiras` text DEFAULT NULL,
  `rovid_leiras` varchar(500) DEFAULT NULL,
  `ar` int(10) unsigned NOT NULL,
  `akcios_ar` int(10) unsigned DEFAULT NULL,
  `keszlet` int(10) unsigned DEFAULT 999,
  `fo_kep` varchar(255) NOT NULL,
  `tobbi_kep` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`tobbi_kep`)),
  `aktiv` tinyint(1) DEFAULT 1,
  `letrehozva` timestamp NOT NULL DEFAULT current_timestamp(),
  `frissitve` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `egyedi_slug` (`slug`),
  KEY `alkategoria_id` (`alkategoria_id`),
  CONSTRAINT `termekek_ibfk_1` FOREIGN KEY (`alkategoria_id`) REFERENCES `alkategoriak` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_hungarian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `termekek`
--

LOCK TABLES `termekek` WRITE;
/*!40000 ALTER TABLE `termekek` DISABLE KEYS */;
/*!40000 ALTER TABLE `termekek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiltott_szavak`
--

DROP TABLE IF EXISTS `tiltott_szavak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tiltott_szavak` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `szo` varchar(100) NOT NULL,
  `hozzaadva` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `szo` (`szo`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiltott_szavak`
--

LOCK TABLES `tiltott_szavak` WRITE;
/*!40000 ALTER TABLE `tiltott_szavak` DISABLE KEYS */;
INSERT INTO `tiltott_szavak` VALUES (1,'spam','2026-01-01 20:05:57'),(2,'szar','2026-01-01 20:05:57'),(3,'reklam','2026-01-01 20:08:40'),(4,'scam','2026-01-01 20:08:40'),(5,'fake','2026-01-01 20:08:40'),(6,'hamis','2026-01-01 20:08:40');
/*!40000 ALTER TABLE `tiltott_szavak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'kisallat_webshop'
--

--
-- Dumping routines for database 'kisallat_webshop'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-12 22:47:31
